<div class="wrapper">
  <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control"
           name="username"
           placeholder="user name" [(ngModel)]="username" required="true" autofocus="" />
    <input type="password"
           class="form-control"
           name="password"
           placeholder="Password" [(ngModel)]="password" required="true"/>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <button class="btn btn-lg btn-primary btn-block" (click)="redirectToSignup()" type="submit">Signup</button>
  </form>
</div>
